    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>You are a student or a professional and passionate by hacking?<br/>
		Don't miss this adventure!</h2>
              <br/>
		<p>The Luxembourg Cybersecurity Challenge is organized by C3, the Cybersecurity Competence Center Luxembourg.<br/>
		This competition targets open-minded creative digital natives. Our aim is not only to find talents but encourage young people to pursue a career in cybersecurity and related disciplines.</p>
		<p>With over 20 unique challenges on the day, we have tasks and activities to keep participants entertained. Participants have to solve security related tasks from domains such as web security, network security, wireless and IoT security, cryptography, exploitation, reverse engineering, forensics, puzzles, trivia and much more.<br/>
		So if you enjoy solving challenges, coding, security, IT or just having fun then Lëtz Cybersecurity Challenge is for you.</p>
		<p>Furthermore, through CSCL, we promote safe online behaviors by raising awareness on information security issues as well as develop expertise and interest in cybersecurity through challenging games and skill tests.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
		<img class="img-responsive" src="img/logo-lcsc-2020.png" />
		<h4>organised by <a href="https://securitymadein.lu/" target="_blank"><span class="text-secondary">SECURITY</span>MADE<span>IN.</span>LU</a></h4>
            </div>
            <div class="col-lg-8">
		<h3>Partners</h3>
		<img class="img-responsive" src="img/partners.jpg" />
            </div>
        </div>
    </section>
