<section id="contact">
	<div class="banner">
		<div class="container">

			<div class="row">
				<div class="col-lg-6">
					<center><h2>Do you have what it takes?</h2><br/>
					<a href="https://ctf.cybersecuritychallenge.lu/register" class="btn btn-warning btn-lg"><span class="network-name">Register Here</span></a></center>
				</div>
				<div class="col-lg-6">
					<center><h3>Contact Us</h3>
					<ul class="list-inline">
						{% for social in site.social %}
						<li>
							<a href="{{ social.url }}" class="btn btn-default"><i class="fa fa-{{ social.title }} fa-fw"></i></a>
						</li>
						{% endfor %}
					</ul></center>
				</div>
			</div>

		</div>
		<!-- /.container -->

	</div>
</section>
<!-- /.banner -->
